{% extends 'base.html' %}

{% block title %}
<title>About store</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>About store</h1>
    <p>Online Spanish classes have become increasingly important for individuals who have left their homes and are now residing in Spain.
        The courses are available for anyone and include general group and individual Spanish lessons for beginners (A1) and A2-C1 levels, exam preparation, conversational Spanish, and distance courses on an interactive platform.
        In addition, there are intensive online Spanish courses available in Spain for refugees from Ukraine, taught by Ukrainian instructors.
        Our goal is to provide quality education and support to our students.</p>
    <h2>Team</h2>
    <p>Developer, designer Yuliia Bugaiova, 201 group, Faculty of Computer Science, Petro Mohyla Black Sea University </p>

    <h2>Locations</h2>
    <p>4 Volodymyrska St., Lutsk, Ukraine</p>

    <h2>Privacy</h2>
    <p>The most private</p>

    <h2>Why was this site developed?</h2>
    <p>I am a 2nd year student who chose the following topic for my coursework: "Development of an online store with online payment".</p>
</div>
{% endblock %}